.modal-body__img {
    width: 80%;
  }
  
  .modalItem {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* width: 100%; */
    height: 100%;
  }
  
  .modalItem__img {
    width: 80%;
    margin: 0 auto;
  }
  
  .modalItem__title {
    padding-top: 20px;
  }
  .modalItem__description {
    padding-top: 20px;
  }